* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: black;
}

/* navbar */ 
img.Logo {
  max-width: 250px;
}

image a :hover {
  size: 300px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background-color: black;
    color: white;
}

/* image */
.judul1 {
  color: rgb(255, 163, 51);
  padding-left: 16px;
  padding-bottom: 10px;
  font-size: 25px;
}

.image {
  display: flex;
  height: 430px;
  gap: 15px;
  justify-content: center;
}

/* product image */
.judul2 {
  color: rgb(255, 163, 51);
  padding-left: 16px;
  padding-bottom: 10px;
  padding-top: 30px;
  font-size: 25px;
  text-align: center;
}

.image-product-1 {
  display: flex;
  height: 280px;
  justify-content: center;
  gap: 15px;
  padding: 15px;
}

.image-product-2 {
  display: flex;
  height: 255px;
  justify-content: center;
  gap: 15px;
  padding: 15px;
}

.gambar-1:hover{
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  box-shadow: white;
}

.gambar-2:hover{
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  box-shadow: white;
}

.caption-image-2 {
  display: flex;
  gap: 125px;
  padding-left: 420px;
  color: rgb(255, 163, 51);
}

.image-product-3 {
  display: flex;
  height: 260px;
  justify-content: center;
  gap: 15px;
  padding: 15px;
}

.gambar-3:hover{
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  box-shadow: white;
}

.gambar-4:hover{
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  box-shadow: white;
}

.caption-image-3 {
  display: flex;
  gap: 115px;
  padding-left: 420px;
  color: rgb(255, 163, 51);
}

.image-product-4 {
  display: flex;
  height: 263px;
  justify-content: center;
  gap: 15px;
  padding: 15px;
}

.gambar-5:hover{
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  box-shadow: white;
}

.gambar-6:hover{
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  box-shadow: white;
}

.caption-image-4 {
  display: flex;
  gap: 84px;
  padding-left: 445px;
  color: rgb(255, 163, 51);
  font-size: 13px;
}

.image-product-5 {
  display: flex;
  height: 282px;
  justify-content: center;
  gap: 15px;
  padding: 15px;
}

.gambar-7:hover{
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  box-shadow: white;
}

.gambar-8:hover{
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
  box-shadow: white;
}

.caption-image-5 {
  display: flex;
  gap: 78px;
  padding-left: 447px;
  padding-bottom: 25px;
  color: rgb(255, 163, 51);
  font-size: 13px;
}

.caption {
  color: rgb(255, 163, 51);
  text-align: center;
  font-size: 20px;
}

/* footer */
.judul-contact {
  color: rgb(255, 163, 51);
  text-align: center;
  padding: 20px;
  font-size: 25px;
}

.contact {
  color: rgb(255, 163, 51);
  text-align: center;
  padding: 5px;
  font-size: 20px;
}

.judul-map {
  color: rgb(255, 163, 51);
  text-align: center;
  padding: 20px;
  font-size: 25px;
}

.map {
  color: rgb(255, 163, 51);
  text-align: center;
  padding: 5px;
  font-size: 20px;
}

a:link {
  color: rgb(255, 163, 51);
  text-decoration: none;
}

a:visited {
  color: rgb(0, 221, 255);
}

a:hover {
  color: rgb(255, 51, 51);
  text-decoration: none;
}
