* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  background-color: black;
  color: white;
}

.logo img {
  width: 230px;
}
.link {
  display: flex;
  gap: 15px;
}

li {
  list-style: none;
}

a,
.text-link {
  text-decoration: none;
  color: white;
  font-size: 25px;
  transition: transform 0.2s;
  width: 100px;
  height: 100px;
  padding: 3px;
}

.text-link:hover {
  color: rgb(0, 0, 0);
  background-color: white;
  border-radius: 10px;
  padding: 3px;
}

/* -------------------------------- */

/* banner */
.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  /* max-width: 1000px; */
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}

/* About Us */
.about-us {
  margin: 30px 0;
  padding: 30px 10px;
  /* background: black; */
  box-shadow: 2px;
  background: #ebebeb;
}

.about-us h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
  color: black;
}

.about-us p {
  text-align: center;
  font-size: 25px;
  font-style: italic;
  color: black;
}

/* card-project */
.features {
  margin: 30px;
}

.features h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
}

.cardContainer {
  /* Grid */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cardContainer img {
  width: 100%;
  object-fit: cover;
}

.card {
  width: 400px;
  border-radius: 10px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  background-color: rgb(220, 217, 217);
  transition: transform 0.3s ease-in-out;
  /* object-fit: cover; */
  cursor: pointer;
  color: #000;
  text-align: center;
  border: 1px solid #000;
}

/* .card h3 {
  padding: 10px 0;
  border: 1px solid #000;
} */

.card:hover {
  transform: scale(1.01);
  /* box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); */
}

/* form-section-search */
.search {
  background: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
  gap: 15px;
}

.search h2 {
  color: white;
  font-size: 40px;
}

label {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

input {
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  color: black;
}

button {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 3px;
}

/* footer
.Contact #map {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map h1 {
  color: rgb(255, 163, 51);
  padding: 25px;
}

#judul-2 h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #000;
  color: rgb(255, 163, 51);
  padding: 20px 0 0 0;
}

#socmed {
  background: #000000;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 25px;
  gap: 10px;

}

#socmed h3 {
  color: rgb(255, 163, 51);
  font-size: 25px;
}

#judul h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #000;
  color: rgb(255, 163, 51);
  padding: 20px 0 0 0;
}

#info {
  background: #000000;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 25px;
  gap: 10px;

}

#info h3 {
  color: rgb(255, 163, 51);
  font-size: 25px;
}


.copyright {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 20px;
}
 */
