* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* navbar */
img.Logo {
  max-width: 230px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

a:hover {
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 7px;
    border-radius: 10px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: black;
    color: white;
}

.link {
    display: flex;
    gap: 15px;
}
/* -------------------------------- */

/* banner */
#home {
  position: relative;
  padding: 10px;
  background: rgb(61, 206, 255);
}

img.banner-image-1 {
  width: 49%;
  height: 500px;
}

img.banner-image-2 {
  width: 760px;
  height: 500px;
  border: 10px;
}
/* -------------------------------- */

/* About Us */
.about-us {
  padding: 15px 10px;
  background: black;
}

.about-us h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
  color: rgb(255, 163, 51);
}

.about-us p {
  text-align: center;
  font-size: 25px;
  font-style: italic;
  color: rgb(255, 163, 51);
}
/* ------------------------- */

/* card-project */
.features {
  margin: 30px;
}

.features h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 10px;
}



.cardcontainer {
  /* Grid */
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; */
  

  /* flex */
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  width: 350px;
  height: 250px;
  background-color: #000;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Memberi transisi agar lebih smooth tinggal atur waktunya aja */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  /* transofrm dan box-shadow diambil dari properti di hovernya */
  cursor: pointer;
  overflow: hidden;
  color: #fff;
  text-align: center;
}

.card:hover {
  transform: scale(1.05); /* akan dibesarkan 1.05 kali lebih besar dari aslinya */
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); /* beri bayangan */
}


.card img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
} 

/* .card {
  /* background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  border-radius: 20px;
  width: 350px;
  height: 250px;
  font-size: 25px;
}

.card:hover {
  width: 430px; */
  /* border-radius: 40px;
  transition: 1s ease;
  transform: scale(1.1);
}

.card img {
  width: 100%;
  height: 200px;
  border-radius: 20px;
  object-fit: cover;
} */


/* img.bumper-guard {
  width: 250px;
  height: 150px;
  padding: 15px;
}

img.projie-foglamp {
  width: 250px;
  height: 150px;
  padding: 15px;
}

img.oli {
  width: 250px;
  height: 150px;
  padding: 15px;
}

img.scanning {
  width: 250px;
  height: 150px;
  padding: 15px;
}

img.roof {
  width: 250px;
  height: 150px;
  padding: 15px;
}

img.ac {
  width: 250px;
  height: 150px;
  padding: 15px;
}

img.dummy {
  width: 100px;
}

img.bumper-guard {
  width: 300px;
  height: 200px;
}

img.projie-foglamp {
  width: 300px;
  height: 200px;
}

img.oli {
  width: 300px;
  height: 200px;
}

img.scanning {
  width: 300px;
  height: 200px;
}

img.roof {
  width: 300px;
  height: 200px;
}

img.ac {
 width: 300px;
  height: 200px;
} */
/* -------------------- */

/* form-section-search */
.search {
  background: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
  gap: 15px;
}

.search h2 {
  color: white;
  font-size: 40px;
}

label {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

input {
  color: white;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 5px;
  color: black;
}

button {
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 3px;
}
/* ------------------- */

/* footer */
#map {
  background: #000;
  text-align: center;
}

#map h1 {
  color: rgb(255, 163, 51);
  padding: 25px;
}

#map h3 {
  color: rgb(255, 163, 51);
  padding: 15px;
}

a:link {
  color: rgb(255, 163, 51);
  text-decoration: none;
}

a:visited {
  color: rgb(0, 221, 255);
}

a:hover {
  color: rgb(255, 51, 51);
  text-decoration: none;
}

#maps-here {
  justify-content: center;
}

#judul-2 h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #000;
  color: rgb(255, 163, 51);
  padding: 20px 0 0 0;
}

#socmed {
  background: #000000;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 25px;
  gap: 10px;

}

#socmed h3 {
  color: rgb(255, 163, 51);
  font-size: 25px;
}

#judul h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  background-color: #000;
  color: rgb(255, 163, 51);
  padding: 20px 0 0 0;
}

#info {
  background: #000000;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 25px;
  gap: 10px;

}

#info h3 {
  color: rgb(255, 163, 51);
  font-size: 25px;
}


.copyright {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 20px;
}
/* -------------------------- */